
[Desktop Entry]
Type=Application
Name=jcchess
Comment=jcchess is a Chess GUI for the Gnome desktop
GenericName=Chess Game
Icon=jchess.png
Exec=jcchess
Terminal=false
Categories=GNOME;Game;BoardGame;

