include LICENSE
include run.py
include jcchess.desktop
include jcchess.png
include ez_setup.py
include data/gnushogi.tbk
include engine/attacks.c
include engine/book.c
include engine/book.h
include engine/commondsp.c
include engine/debug.h
include engine/enginemodule.c
include engine/eval.c
include engine/eval.h
include engine/genmove.c
include engine/globals.c
include engine/gnushogi.h
include engine/gnushogi.lng
include engine/init.c
include engine/opts.h
include engine/pattern.c
include engine/pattern.h
include engine/pattern.inc
include engine/rawdsp.c
include engine/rawdsp.h
include engine/search.c
include engine/sysdeps.c
include engine/tcontrl.c
include engine/util.c
include engine/version.h
include jcchess/images/wood1.png
include jcchess/images/wood1_hl.png
include jcchess/images/jcchess/bishopB.png
include jcchess/images/jcchess/bishopPB.png
include jcchess/images/jcchess/goldB.png
include jcchess/images/jcchess/kingB.png
include jcchess/images/jcchess/knightB.png
include jcchess/images/jcchess/knightPB.png
include jcchess/images/jcchess/lanceB.png
include jcchess/images/jcchess/lancePB.png
include jcchess/images/jcchess/pawnB.png
include jcchess/images/jcchess/pawnPB.png
include jcchess/images/jcchess/rookB.png
include jcchess/images/jcchess/rookPB.png
include jcchess/images/jcchess/silverB.png
include jcchess/images/jcchess/silverPB.png
include jcchess/images/eastern/bishopB.png
include jcchess/images/eastern/bishopPB.png
include jcchess/images/eastern/bishopPW.png
include jcchess/images/eastern/bishopW.png
include jcchess/images/eastern/goldB.png
include jcchess/images/eastern/goldW.png
include jcchess/images/eastern/kingB.png
include jcchess/images/eastern/kingW.png
include jcchess/images/eastern/knightB.png
include jcchess/images/eastern/knightPB.png
include jcchess/images/eastern/knightPW.png
include jcchess/images/eastern/knightW.png
include jcchess/images/eastern/lanceB.png
include jcchess/images/eastern/lancePB.png
include jcchess/images/eastern/lancePW.png
include jcchess/images/eastern/lanceW.png
include jcchess/images/eastern/pawnB.png
include jcchess/images/eastern/pawnPB.png
include jcchess/images/eastern/pawnPW.png
include jcchess/images/eastern/pawnW.png
include jcchess/images/eastern/rookB.png
include jcchess/images/eastern/rookPB.png
include jcchess/images/eastern/rookPW.png
include jcchess/images/eastern/rookW.png
include jcchess/images/eastern/silverB.png
include jcchess/images/eastern/silverPB.png
include jcchess/images/eastern/silverPW.png
include jcchess/images/eastern/silverW.png
include jcchess/images/logo.png
include jcchess/images/western/bishopB.png
include jcchess/images/western/bishopPB.png
include jcchess/images/western/bishopPW.png
include jcchess/images/western/bishopW.png
include jcchess/images/western/goldB.png
include jcchess/images/western/goldW.png
include jcchess/images/western/kingB.png
include jcchess/images/western/kingW.png
include jcchess/images/western/knightB.png
include jcchess/images/western/knightPB.png
include jcchess/images/western/knightPW.png
include jcchess/images/western/knightW.png
include jcchess/images/western/lanceB.png
include jcchess/images/western/lancePB.png
include jcchess/images/western/lancePW.png
include jcchess/images/western/lanceW.png
include jcchess/images/western/pawnB.png
include jcchess/images/western/pawnPB.png
include jcchess/images/western/pawnPW.png
include jcchess/images/western/pawnW.png
include jcchess/images/western/rookB.png
include jcchess/images/western/rookPB.png
include jcchess/images/western/rookPW.png
include jcchess/images/western/rookW.png
include jcchess/images/western/silverB.png
include jcchess/images/western/silverPB.png
include jcchess/images/western/silverPW.png
include jcchess/images/western/silverW.png
include jcchess/glade/comments.glade
include jcchess/glade/gamelist.glade
include jcchess/glade/set_colours.glade
include jcchess/glade/common_engine_settings.glade
include jcchess/glade/main_window.glade
include jcchess/glade/set_pieces.glade
include jcchess/glade/engine_debug.glade
include jcchess/glade/move_list.glade
include jcchess/glade/engine_output.glade
include jcchess/glade/preferences.glade
include locale/jcchess.pot
include locale/*/LC_MESSAGES/*.po
