include LICENSE
include run.py
include jcchess.desktop
include jcchess.png
include ez_setup.py
include jcchess/images/wood1.png
include jcchess/images/wood1_hl.png
include jcchess/images/pieceset1/bishopB.svg
include jcchess/images/pieceset1/bishopW.svg
include jcchess/images/pieceset1/kingB.svg
include jcchess/images/pieceset1/kingW.svg
include jcchess/images/pieceset1/knightB.svg
include jcchess/images/pieceset1/knightW.svg
include jcchess/images/pieceset1/pawnB.svg
include jcchess/images/pieceset1/pawnW.svg
include jcchess/images/pieceset1/queenB.svg
include jcchess/images/pieceset1/queenW.svg
include jcchess/images/pieceset1/rookB.svg
include jcchess/images/pieceset1/rookW.svg
include jcchess/images/pieceset2/bishopB.svg
include jcchess/images/pieceset2/bishopW.svg
include jcchess/images/pieceset2/kingB.svg
include jcchess/images/pieceset2/kingW.svg
include jcchess/images/pieceset2/knightB.svg
include jcchess/images/pieceset2/knightW.svg
include jcchess/images/pieceset2/pawnB.svg
include jcchess/images/pieceset2/pawnW.svg
include jcchess/images/pieceset2/queenB.svg
include jcchess/images/pieceset2/queenW.svg
include jcchess/images/pieceset2/rookB.svg
include jcchess/images/pieceset2/rookW.svg
include jcchess/images/logo.png
include jcchess/glade/comments.glade
include jcchess/glade/gamelist.glade
include jcchess/glade/common_engine_settings.glade
include jcchess/glade/main_window.glade
include jcchess/glade/engine_debug.glade
include jcchess/glade/move_list.glade
include jcchess/glade/engine_output.glade
include jcchess/glade/preferences.glade
include jcchess/glade/promotion.glade
include locale/jcchess.pot
include locale/*/LC_MESSAGES/*.po
