include LICENSE
include run.py
include jcchess.desktop
include jcchess.png
include ez_setup.py
include jcchess/images/wood1.png
include jcchess/images/wood1_hl.png
include jcchess/images/jcchess/bishopB.svg
include jcchess/images/jcchess/bishopW.svg
include jcchess/images/jcchess/kingB.svg
include jcchess/images/jcchess/kingW.svg
include jcchess/images/jcchess/knightB.svg
include jcchess/images/jcchess/knightW.svg
include jcchess/images/jcchess/pawnB.svg
include jcchess/images/jcchess/pawnW.svg
include jcchess/images/jcchess/queenB.svg
include jcchess/images/jcchess/queenW.svg
include jcchess/images/jcchess/rookB.svg
include jcchess/images/jcchess/rookW.svg
include jcchess/images/logo.png
include jcchess/glade/comments.glade
include jcchess/glade/gamelist.glade
include jcchess/glade/set_colours.glade
include jcchess/glade/common_engine_settings.glade
include jcchess/glade/main_window.glade
include jcchess/glade/set_pieces.glade
include jcchess/glade/engine_debug.glade
include jcchess/glade/move_list.glade
include jcchess/glade/engine_output.glade
include jcchess/glade/preferences.glade
include jcchess/glade/promotion.glade
include locale/jcchess.pot
include locale/*/LC_MESSAGES/*.po
